.custom-margin{max-height: 30px;

    margin: 10px;
    margin-left: 84px;
    text-align: center;
    margin-bottom: 30px;
}



#page-content{margin-left: 0px !important;}
@media only screen and (min-width: 56.25em){
	#page-content {
    margin-left: 0px !important;
}
}
